server
{
	listen 80;
	
	server_name <%= server_name %>;
	root <%= root %>;

	client_max_body_size 100M;
	fastcgi_read_timeout 1800;

	index <%= index %>;

	fastcgi_keep_conn on; # keep alive to the FCGI upstream

	## See the blacklist.conf file at the parent dir: /etc/nginx.
  ## Deny access based on the User-Agent header.
  if ($bad_bot) {
      return 444;
  }
  ## Deny access based on the Referer header.
  if ($bad_referer) {
      return 444;
  }

  ## Protection against illegal HTTP methods. Out of the box only HEAD,
  ## GET and POST are allowed.
  if ($not_allowed_method) {
      return 405;
  }

	################################################################
  ### Generic configuration: for most Drupal 7 sites.
  ################################################################
  include apps/drupal/drupal.conf;

	## Including the Nginx stub status page for having stats about
  ## Nginx activity: http://wiki.nginx.org/HttpStubStatusModule.
  # include nginx_status_vhost.conf;  

}